body {
	background:white;
	color:#003333;
	font-family: comfortaa,verdana;
	text-align:center;
  	font-size:20px;
}
h1 {
	margin-top:20px;
	margin-bottom:20px;
	font-weight:bold;
}
a, a:link, a:focus, a:hover, a:active {
    color: #e63d8e;
	text-decoration:none;
}
.zeleno {
    color: #34d14e;
}
.zuto {
    color: #fcaf3b;
}
.manje {
	font-size:14px;
}
.harmonika {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  color: #e63d8e;
  text-align: center;
  outline: none;
  font-size: 26px;
  transition: 0.4s;
  background:white;
}
.active, .accordion:hover {
 
}
.roleta {
  padding: 0 18px;
  display: none;
  text-align: center; 
  font-size: 20px;
  overflow: hidden;
padding-left:33px;
padding-right:33px;
}
