body {
	background:white;
	color:#003333;
	font-family: comfortaa,verdana;
	text-align:center;
  	font-size:20px;
}
h1 {
	margin-top:20px;
	margin-bottom:20px;
	font-weight:bold;
}
a, a:link, a:focus, a:hover, a:active {
    color: #e63d8e;
	text-decoration:none;
}
.zeleno {
    color: #34d14e;
}
.zuto {
    color: #fcaf3b;
}
.manje {
	font-size:14px;
}
.card {
	background:white;
	border:none;
}
.h2 {
	cursor: pointer;
	color: #e63d8e;
	margin-top:20px;
	margin-bottom:20px;
	font-weight:bold;
}
.collapse {
}
